spring:
  config:
    activate:
      on-profile: dev
  devtools:
    add-properties: true

  datasource:
    url: jdbc:postgresql://localhost:5433/uneti_study
    username: vanh
    password: vanh
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: none

  cache:
    type: redis

  data:
    redis:
      host: 192.168.1.66
      port: 6379

# application-dev.yml
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
openapi:
  service:
    api-docs: backend-service
    server: http://localhost:${server.port}
    title: Backend service
    version: 1.0.0

security:
  jwt:
    signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"
    token-validity-in-seconds: 900
    refresh-token-validity-in-seconds: 2592000
    refresh-token-validity-in-seconds-for-remember-me: 25920000


jhipster:

  security:
    authentication:
      jwt:
        # This token must be encoded using Base64 and be at least 256 bits long (you can type `openssl rand -base64 64` on your command line to generate a 512 bits one)
        base64-secret: ODFjYzVlMDQ2NDlhNjM2NDRiN2ZjYWRhNzlhY2ExODk2NzNiMWQzZmI1NDBiYzA2N2FhZWU4OGZjYTQyZjU1YjllY2YzNDQzNDg3MDkxYjhkMzc2YTcyNzhiMWY1OWRkYzUwN2FhNGQ4MjUxYzVjNGEzODU3MTA2MmU4MjcwODg=
        # Token is valid 24 hours
        token-validity-in-seconds: 86400
        token-validity-in-seconds-for-remember-me: 2592000
  logging:
    use-json-format: false # By default, logs are not in Json format
    logstash: # Forward logs to logstash over a socket, used by LoggingConfiguration
      enabled: false
      host: localhost
      port: 5000
      ring-buffer-size: 512