server:
  port: ${SERVER_PORT:8097}

spring:
  application:
    name: uneti-study

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:prod}

  liquibase:
    change-log: classpath:db/changelog-master.yaml

  datasource:
    url: ${DB_URL:jdbc:postgresql://postgres:5432/uneti_study}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
        ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false

# =========================
# Health Check (EKS / Docker / K8s)
# =========================
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
  prometheus:
    metrics:
      export:
        step: 5s
        enabled: true

# =========================
# Logging tối ưu cho dự án
# =========================
logging:
  level:
    root: INFO
    web: OFF
    org.springframework: INFO
    org.apache: OFF
    kafka: OFF
