server:
  port: ${SERVER_PORT:8097}

spring:
  application:
    name: uneti-study

  datasource:
    url: ${DB_URL:jdbc:postgresql://postgres:5432/uneti_study}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false

security:
  jwt:
    signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"
    token-validity-in-seconds: 900000
    refresh-token-validity-in-seconds: 259200000
    refresh-token-validity-in-seconds-for-remember-me: 2592000000


jhipster:
  security:
    authentication:
      jwt:
        base64-secret: ODFjYzVlMDQ2NDlhNjM2NDRiN2ZjYWRhNzlhY2ExODk2NzNiMWQzZmI1NDBiYzA2N2FhZWU4OGZjYTQyZjU1YjllY2YzNDQzNDg3MDkxYjhkMzc2YTcyNzhiMWY1OWRkYzUwN2FhNGQ4MjUxYzVjNGEzODU3MTA2MmU4MjcwODg=
        token-validity-in-seconds: 86400
        token-validity-in-seconds-for-remember-me: 2592000


management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
  prometheus:
    metrics:
      export:
        step: 5s
        enabled: true

logging:
  level:
    root: INFO
    web: OFF
    org.springframework: INFO
    org.apache: OFF
    kafka: OFF
